*{
    margin: 0;
    width: 100%;
}

h2{
    font-family: cursive;
    font-size: 2em;
    margin: .1em;
    padding: 1em;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    margin: .4em;
    padding: .2em;
}

.table{
    background: rgb(168, 100, 100);
}

.flexbox{
    background:  rgb(64, 151, 64);
}

.grid{
    background: rgb(111, 111, 197);
}

.margins{
    background: yellow;

}

@media (min-height: 299px)
{
    .table{
        background: yellow;
        
    }

    .flexbox{
        background: rgb(168, 100, 100);
    }

    .grid{
        background:  rgb(64, 151, 64);
    }

    .margins{
        background: rgb(111, 111, 197);
    }

    body{
        display: flex;
        flex-direction: row;
        min-height: 100em;
    }

    h2{
        background-color: rgb(152, 152, 168);
    }

    
}

@media (min-height: 300px) and (max-height: 450px)
{
    .table{
        background: rgb(0, 183, 255);
    }

    .flexbox{
        background: rgb(168, 100, 157);
    }

    .grid{
        background:  rgb(204, 185, 77);
    }

    .margins{
        background: rgb(105, 46, 28);
    }

    h2{
        background: rgb(235, 180, 164);
    }

    h1{
        display: none;
    }
}

@media (min-height: 451px){
    .table{
        background: rgb(176, 198, 207);
    }

    .flexbox{
        background: rgb(79, 218, 188);
    }

    .grid{
        background:  rgb(204, 185, 77);
    }

    .margins{
        background: rgb(51, 73, 68);
    }

    h2{
        background: rgb(103, 122, 58);
    }

    h1{
        display: none;
    }
}