*{
    margin: 0;
    height: 100%;
}

.centre{
    display: flex;
    justify-content: center;
    background-color: rgb(127, 104, 153);
    height: 4em;
}

.top-header{
    font-family: 'Alfa Slab One', cursive;
    font-size: 1em;
    align-items: center;
}

h3{
    padding: .4em;
    margin: .5em;
}

.leftColumn{
    float: left;
    width: 50%;
    background-color: darkcyan;
    font-family: 'Lobster', cursive;
}

.rightColumn{
    float: right;
    width: 50%;
    background-color: plum;
    font-family: 'Lobster', cursive;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 4em;
    background-color: rgb(44, 27, 44);
    font-family: 'Lobster', cursive;
    color: white;
    margin-bottom: 0;
}


